body {
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #555;
    background: #F9F9F5;

    margin: 0;
}

.link{
    text-decoration: none;
}
.link:hover{
    background-color: lightgray;
}
.header {
    background: #f5f5f5;
    margin: 0 auto;
    height: 70px;
}
.header_in{
    width: 1000px;
    margin: 0 auto;


}
.content {
    display: block;
    padding-top: 0;
    width: 880px;
    margin: 0 auto;
}

.time {
    margin: 5px;
    font-size: small;
}
.header_logo{
    font-size: 22px;
    font-weight: bolder;
    position: relative;
    text-align: left;
    color: #000;
    text-decoration: none;
}

.blog-heading{
    font-size: 140%;
}
.blog-node{
    background-color: lightblue;
    position: relative;
    display: flex;
}

