<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">

{#    <script src="/static/js/blog_view.js"></script>#}

    <title>login</title>
</head>
<body>
<form action="{{ url_for('.login') }}" method="post">
    <input name="username" placeholder="username">
    <input name="password" placeholder="password">
    <button id="button-login" type="submit" >登录</button>
</form>
<form action="{{ url_for('.register') }}" method="post">
    <input name="username" placeholder="username">
    <input name="password" placeholder="password">
    <button id="button-login" type="submit" >注册</button>
</form>

</body>
</html>
