{% extends "base.html" %}
{% block title %}
Blog 名字
{% endblock %}
{% block content %}
{% for m in ms %}
        <hr>
        <div class="blog-heading"><span>{{ m.title }}</span></div>
        <div class="blog-node-div"><span class="blog-node">节点：{{ m.node }}</span></div>
        <div class="blog-brief">简介：<span>{{ m.brief }}</span></div>
        <div class="blog-content">
{#            {{ m.content }}#}
            <a class='link' href="{{ url_for('.blog', blog_created_time=m.created_time) }}">>>read more</a>
{#            <a class='link' href="{{ url_for('.delete', m_id=m.id) }}">>>delete</a>#}

        </div>
        <div class="time">
            发布时间： {{ m.created_time }}
        </div>
    {% endfor %}
{% endblock %}
